[Unit]
Description=SVNAuthz Service

[Service]
Type=simple
WorkingDirectory=/usr/local/etc/svnauthz
#ExecStart=/usr/bin/python authz.py --foreground
ExecStart=/usr/bin/echo "authz start"
#ExecStop=/usr/bin/pkill -f authz.py || /bin/echo "authz.py exited"
ExecStop=/usr/bin/echo "authz stop"
Restart=on-failure

[Install]
WantedBy=multi-user.target
