[Unit]
Description=SVNAuthz Service

[Service]
Type=simple
WorkingDirectory=/usr/local/etc/svnauthz
ExecStart=/usr/local/bin/pipenv run python3 authz.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
